@import "./colors.scss";

.ok {
  background-color: $status-ok;
}

.ok-icon {
  color: green;
}

.warning {
  background-color: $status-warning;
  color: white;
}

.error {
  background-color: $status-error;
  color: white;
}