@import "./../../../styles/colors.scss";
@import "./../../../styles/statuses.scss";

.wrapper {
  display: flex;
  width: 100%;
  background: $background-gray;
  border-bottom: 1px solid gainsboro;

  .process {
    padding: 15px 50px;
    padding-right: 6px;
    font-size: 20px;
    display: flex;

    .icon {
      margin-left: 20px;
      margin-top: -10px;
    }
  }
}