@import "./../../../styles/colors.scss";

.wrapper {
  display: flex;
  justify-content: end;
  padding: 10px 15px;
  border-top: 2px solid #01a89c;
  background-color: $background-gray;

  div {
    display: flex;
    align-items: center;
    font-size: 20px;
    cursor: pointer;

    span {
      margin-right: 10px;
    }
  }
}