<div class="wrapper fade-in">
  <main>
    <production-navigation [navigation]="productionLine"></production-navigation>
    <div class="production-line scale-in-center">
      <hr [ngClass]="_simulator.simulatorRun ? 'line-stopped' : ''">
      <div class="section {{section.status}}" *ngFor="let section of productionLine">
        <div class="status">
          <span class="main-icon material-symbols-outlined {{section.status}}-icon">
            <ng-container *ngIf="section.status === 'ok'">settings_backup_restore</ng-container>
            <ng-container *ngIf="section.status !== 'ok'">{{section.status}}</ng-container>
          </span>
        </div>
        <div class="content">
          <div><span class="main-icon material-symbols-outlined">{{section.icon}}</span></div>
          <div>{{section.title | titlecase}}</div>
        </div>
      </div>
    </div>
  </main>
</div>